.container {
     width: 700px;
     h1 {
          font-size: 21px;
          padding-left: 9px;
     }
}

h3 {
     font-size: 21px;
}

th {
     width: 100px;
}

.formData {
     margin-top: 28px;
}
